// =============================================================================
// Breakpoints based on dead devices zone
// https://medium.freecodecamp.org/the-100-correct-way-to-do-css-breakpoints-88d6a5ba1862
// =============================================================================
$sm: 600px;
$md: 900px;
$lg: 1200px;
$xl: 1800px;

// =============================================================================
// Grid
// =============================================================================
$columns: 12;
$gutter: 15px;
$grid-breakpoints: (
    xs: 0,
    sm: $sm,
    md: $md,
    lg: $lg,
    xl: $xl
) !default;
